{
  "apps/web/src/**/*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0 --config ./apps/web/eslint.config.js"
  ],
  "packages/ui/src/**/*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings 0 --config ./packages/ui/eslint.config.js"
  ],
  "*.md": ["prettier --write"]
}
